<html>
<head></head>
<body>
<div id="addGame">
    <h2>Adding Game</h2>
    <form action="/add" method="POST">

        <label for="Name">Game Title</label>
        <input type="text" name="Name" required><br>

        <label for="RequiredAge">Age Requirements</label>
        <input type="number" name="RequiredAge" required><br>

        <label for="AboutGame">About the Game</label>
        <textarea name="AboutGame" required></textarea><br>

        <label for="Developers">Developers</label>
        <input type="text" name="Developers" required><br>

        <label for="Publishers">Publishers</label>
        <input type="text" name="Publishers" required><br>

        <label for="Genres">Genres</label>
        <textarea name="Genres" required></textarea><br>

        <label for="Website">Website</label>
        <input type="text" name="Website" required><br>

        <label for="Achievements">Achievements</label>
        <input type="number" name="Achievements" required><br>

        <label for="SupportURL">Support URL</label>
        <input type="text" name="SupportURL"><br>

        <label for="SupportEmail">Support Email</label>
        <input type="email" name="SupportEmail"><br>

        <label for="Price">Price</label>
        <input type="number" name="Price" required><br>

        <label for="Available">Available for:</label>
        <label for="Windows">Windows</label><input type="checkbox" name="Windows">
        <label for="Linux">Linux</label><input type="checkbox" name="Linux">
        <label for="Mac">Mac</label><input type="checkbox" name="Mac"><br>

        <input type="submit" value="Add Game">
    </form>
</div>
</body>
</html>
