<html>
<head></head>
<body>
<div id="addGame">
    <h2>Adding Game</h2>
    <form action="/add" method="POST">
        <label for="title">Game Title</label>
        <input type="text" name="title" required><br>
        <label for="reqAge">Age Requirements</label>
        <input type="number" name="reqAge" required><br>
        <label for="about">About the Game</label>
        <textarea name="about" required></textarea><br>
        <label for="devs">Developers</label>
        <input type="text" name="devs" required><br>
        <label for="pubs">Publishers</label>
        <input type="text" name="pubs" required><br>
        <label for="Categories">Categories</label>
        <textarea name="Categories" required></textarea><br>
        <label for="gen">Genres</label>
        <textarea name="gen" required></textarea><br>
        <label for="site">Website</label>
        <input type="text" name="site" required><br>
        <label for="ach">Achievements</label>
        <textarea name="ach" required></textarea><br>
        <label for="supurl">Support URL</label>
        <input type="text" name="supurl" required><br>
        <label for="supemail">Support Email</label>
        <input type="email" name="supemail" required><br>
        <label for="price">Price</label>
        <input type="number" name="price" required><br>
        <label for="available">Available for:</label>
        <label for="windows">Windows</label><input type="checkbox" name="windows">
        <label for="linux">Linux</label><input type="checkbox" name="linux">
        <label for="mac">Mac</label><input type="checkbox" name="mac"><br>
        <input type="submit" value="Add Game">
    </form>
</div>
</body>
</html>
